img{
width: 100px;
height: 100px;
}
body{
    align-content: center;
    text-align: center;
    margin: 0;
}
#tinnhan3{
        
    height:275px;
    width:570px;
    margin-top:25px;
    line-height:25px;
    
    z-index:9999999;
  
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
  
    }
    
    
    
